.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16;
}
.container_box {
  width: 500px;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  height: 300px;
}
.drop {
  background-color: rgb(255, 255, 255);
  padding: 1px;
  margin: 10px;
  height: 40px;
  width: 200px;
  color: rgb(2, 2, 2);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: large;
}

.img {
  width: 500px;
  height: 500px;
}

.name {
  padding: 16;
  color: rgb(0, 0, 156);
  font: 2em sans-serif;
  margin-left: 10px;
}

.description {
  width: 500px;
  color: #000000;
  font: 2rem;
  font-family: 'Lucida Sans Unicode', Verdana, sans-serif;
}

.button:hover {
  background-color: rgb(247, 229, 196);
  width: 100px;
  height: 40px;
}

.button {
  width: 100px;
  height: 40px;
  margin: 10px;
  color: orange;
  border: 0;
  background-color: rgb(253, 253, 253);
}
